.App {
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    nav .menu-icon {
        display: block;
    }
}

@media screen and (min-width: 960px) {
    nav .menu-icon {
        display: none;
    }
    nav ul li {
        display: flex;
    }
}

/* @media screen and (min-width: 768px) {
    nav ul li{
        display: hidden;
    }
} */

@media screen and (max-width: 800px) {
    .menu ul li a {
        display: none;
    }
    .menu-icon {
        display: none;
    }
}