
nav {
    background-color: skyblue;
    padding: 0px 20px ;
    position: relative;
    line-height: 65px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.logo {
    font-size: 24px;
    font-weight: 800;
    text-transform: capitalize;
    transition: all 0.3s  ease-out;
}
.logo:hover {
    letter-spacing: 2px;

}
/* nav ul li {
    display: none;
} */
nav ul li a {
    padding: 0px 24px;
}


.btns {
    display: flex;
    gap: 20px;
}

.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: palegreen;
    width: 300px;
    
}



/* Home */
.home-container {
    gap: 40px;
}
.home-container .img-container img {
    width: 100%;
}
.home {
    margin: 20px 45px;
    max-width: 50%;
    position: relative;
}
.home p {
    margin: 12px auto;
}
.home h4 {
    max-width: 320px;
    text-align: center;
}
.social-icons {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    max-width: 280px;
    gap: 12px;
}
.social-icons .icon {
    font-size: 22px;
    border-radius: 50%;
}



