@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  overflow: hidden;
}
section {
  margin: 0 auto;
  background-color: antiquewhite;
  padding: 40px;
  max-width: 1280px;
  min-width: 100vw;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: calc(100vh - 60px);
  background-color: yellow;
}


nav {
  width: 100vw;
  height: 60px;
  background-color: aqua;
  padding: 1.25rem 3rem;
}



.logo {
  text-transform:capitalize;
  font-size: 22px;
  margin-top: -5px;

}

ul {
  padding-right: 40px;
}
ul li {
   padding: 0px 1.5rem;
}
ul li a {
  font-size: 16px;
}

ul li a:hover, .menu_hover {
 width: 100%;
 color: yellow;
 
}

.menu_hover {
  width: 100%;
  color: red;
  line-height: 4px;
}




@media  screen and (min-width: 320px) {
  
}


/* Home */
.home-container {
  background-color: #124E66;
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding: 1rem 4rem;
}
.heading {
  padding: 20px auto;
}